@font-face {
    font-family: "阿里妈妈数黑体 Bold";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/Vz5gWyXaSjLA/TxbQHtQStEUW.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/Vz5gWyXaSjLA/DjdZ60wq6lm6.woff") format("woff");
    font-display: swap;
}